html {
  height: 100%;
}
html, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html *, body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: url("https://media.giphy.com/media/ywHiA66elffESlV0Vx/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Notable', sans-serif;
  padding: 30px 45px 10px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  overflow-x: hidden;
  text-transform: uppercase;
  background-attachment: fixed;
}

body a {
  text-decoration: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1100px;
  padding: 0px 50px;
}

.album-details {
  width: 53%;
}

.album-details p {
  font-size: 20px;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 3.5px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 12px;
}

.album-details h2 {
  color: #ffffff;
  font-size: 95px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.album-details h3 {
  color: #ffffff;
  font-size: 32px;
  letter-spacing: .7px;
  margin-bottom: 35px;
}

.album-cover {
  width: 47%;
}

.album-cover img {
  -webkit-box-shadow: 0 6px 17px 0 #0e0e0e;
  box-shadow: 0 6px 17px 0 #0e0e0e;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.streamdownload {
  width: 150px;
  height: 50px;
  line-height: 46px;
  display: block;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06), 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06), 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.02);
  border: solid 2px #ffffff;
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.1px;
  -webkit-transition: .4s ease all;
  -o-transition: .4s ease all;
  transition: .4s ease all;
}

.streamdownload:hover {
  color: #932f2f;
  background: #fff;
}

.streamdownload i {
  margin-right: 10px;
}


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 110px;
  margin: 15px auto;
}

.footer .socials li a {
  color: #000;
  background: #fff;
  width: 19px;
  display: block;
  text-align: center;
  padding: 3px 0;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  font-size: 13px;
}

.footer .socials li a:hover {
  color: #fff;
  background: #000;
}

.footer .copyright {
  color: #fff;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.1px;
  font-size: 14px;
}



@media screen and (max-width: 976px) {
body {
  padding-left: 10px;
  padding-right: 10px;
}
.content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 25px;
}

.album-details {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.album-details p {
  text-align: center;
}

.album-details h2 {
  font-size: 50px;
}

.album-details h3 {
  font-size: 15px;
  margin-bottom: 30px;
}

.album-cover {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  padding: 20px 0;
}

.album-cover img {
  max-width: 285px;
  margin: 0 auto 15px auto;
  display: block;
}

.streamdownload {
  margin: 0 auto;
  width: 230px;
  font-size: 14px;
  margin-bottom: 20px;
}

.enter-btn {
  font-size: 14px;
}

.footer {
  bottom: -30px;
}



@media screen and (max-width: 667px) {
  .logo img {
  margin: 0 auto;
  display: block;
}

.content {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.footer {
  position: static;
}



.youtube {
  display: block;
  margin: 0 auto;
}

.flash{
  color:#f2f;
	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
