@media screen and (max-width: 320px) { @viewport { width: 320px; } }

body, html {
  height: 100%;
}

.container {
  background-image: url('Flee Cobain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  width: 90vw;
  border: 1px solid black;
  padding-left: 5em;
  padding-right: 15em;
  justify-content: space-around;
}

.mixtapeback {
  /* background-image: url('Flee Cobain.jpg'); */
  background-image: url('Flee Cobain2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-attachment: fixed; */
  width:40%;
  height: 25%;
  display: block;
  margin: 0 auto;
}

li {
  text-align: center;
  display: inline-block;
  padding: 1em 1em 0;
  margin: 0;
  list-style: none;
  font-size: 3em;
}
a {
  color: #ffff00;
}

nav {
  text-align: center;
}

.youtube {

  display: block;
  margin: 0 auto;
}

h1  {
  text-align: center;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 100px;
}

/* img:hover {
  transform: translate(10em,0);
-webkit-transform: translate(10em,0);
-moz-transform: translate(10em,0);
-o-transform: translate(10em,0);
-ms-transform: translate(10em,0);
} */
