@font-face {
  font-family: 'Fields of Cathay';
  src: url('FieldsofCathay-Regular.eot');
  src: url('FieldsofCathay-Regular.eot?#iefix') format('embedded-opentype'),
  url('FieldsofCathay-Regular.woff2') format('woff2'),
  url('FieldsofCathay-Regular.woff') format('woff'),
  url('FieldsofCathay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
